*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff70;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

ul {
  list-style: none;
}

.container {
  padding: 1rem;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .desktop-only {
    display: block;
  }

  .desktop-mode {
    margin-inline: auto;
    max-width: 80rem;
  }
}
