header {
  font: var(--text-md);
  padding: 2rem;
}

#profile {
  & img {
    width: 7.5rem;
    height: 7.5rem;
  }

  & h1 {
    font: bold 24px/125% var(--font-family);
    color: var(--text-color-primary);
    margin: 1rem 0 0.5rem;
  }

  & > div {
    max-width: 18.5rem;
  }
}

#info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (width >= 80em) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #profile {
      display: flex;
      align-items: center;
      gap: 2rem;

      & img {
        width: 11rem;
        height: 11rem;
      }

      & h1 {
        font: var(--text-lg);
        margin: 0;
      }

      & > div {
        max-width: 24rem;
      }
    }

    #info {
      margin-top: 0;
      width: 17.5rem;
    }
  }
}
